.Product{
    display: inline-flex;
    background-color:#2b2b2b80;
    justify-content: center;
    width: 90%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.Price, .Desc{
    padding: 10px;
    margin: 5px;
    color: #c9c9c9;
}

.Desc {
    width: 90%;
    text-align: left;
}

.Desc h3{
    font-size: 1.5rem;
}

.Desc span{
    font-family: 'Raleway', sans-serif;
}

.Price {
    width: 10%;
    text-align: right;
}

.addProd{
    font-size: 2rem;
    text-align: center;
    width: 50%;
    left: 50%;
    position: relative;
    opacity: .5;
    transition: 0.5s;
}

.addProd:hover{
    opacity: 1;
}

h3{
    margin: 0px;
}