.Carta {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #785e3c;
    border-radius: 15px;
    box-shadow: #2b2b2b 0px 0px 25px 0px;
}